<div>{{ text }}</div>

<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" type="text" formControlName="name">
    </label>
    <label class="center-block">Email:
      <input class="form-control" type="text" formControlName="email">
    </label>
    <label class="center-block">Text:
      <input class="form-control" type="text" formControlName="text">
    </label>
  </div>
  <button type="submit" [disabled]="!contactForm.valid">Save</button>

</form>
